.firebase-emulator-warning {
  display: none;
}
.simplebar-content {
  padding: 0px;
}
.simplebar-mask {
  z-index: unset;
}
.os-padding {
  z-index: unset !important;
}
.simplebar-content-wrapper {
  overflow: hidden;
}
.grabbable {
  cursor: grab;
}
.grabbable:active {
  cursor: grabbing;
}
.react-resizable-handle {
  background-image: none;
}
.react-resizable-handle::after {
  height: 8px !important;
  width: 8px !important;
  border-right: 4px solid rgba(0, 0, 0, 0.4) !important;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4) !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(1);
 }
  to {
    opacity: 1;
    transform: scale(1.04);
 }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(1);
 }
  to {
    opacity: 1;
    transform: scale(1.04);
 }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(1);
 }
  to {
    opacity: 1;
    transform: scale(1.04);
 }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(1);
 }
  to {
    opacity: 1;
    transform: scale(1.04);
 }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    transform: scale(1);
 }
  to {
    opacity: 1;
    transform: scale(1.04);
 }
}
.fade-in-on-create {
  -webkit-animation: fadein 0.2s;
 /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
 /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
 /* Internet Explorer */
  -o-animation: fadein 0.2s;
 /* Opera < 12.1 */
  animation: fadein 0.2s;
}
